/*
// Cesar F Quinteros 2009
// http://www.quinterox.com
*/


body
{
    text-align:center;
	padding-top: 0px;
	margin:0 0 0 0;
}
#container
{
    margin: 0 auto;
    border: solid 1px #D2D2D2;
    width:  700px;
    background-color:#E6E6E6;
}
#container br
{
    clear: both;
}
#container #ul_images
{
    margin: 0 auto;
    padding-left:0;
    width:698px;
}
#container #ul_images li
{
    list-style-type: none;
    display: inline;
}
#container #ul_images li a img
{
    border: solid 1px #D2D2D2;
    background-color: #FFFFFF;
    padding:3px;
}
#footer {
	margin: 0 auto;
	padding: 2px;
	text-align:right;
    width:  700px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: .7em;
}
#footer a {
	text-decoration: none;
	color: #B8B8B8;
}
#footer a:hover {
	text-decoration: none;
	color:#0033CC;
}
#header {
	color: #606060;
	margin: 0 auto;
	padding: 2px;
	text-align:left;
    width:  700px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: .9em;
}
#header .first-word {
	color:#665;
	font-weight:bold;
}